h1 {
   color: #000000;
   text-align: left;
}

h2 {
  font-style: italic;
  color: #b3b3b3;
}

p {
  color: #000000;
}

body {
  background-color: #99ff99;
  font-family: sans-serif;
  text-align: left;
}
